* {
    font-family:Helvetica, Arial, sans-serif
}

body {
    margin: 0;
}

#logo {
    width: 350px;
    height: 150px;
    top: 0;
    left: 0;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#menu {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
    gap: 32px;
}

.items {
    max-width: 300px;
}

div img {
    width: 300px;
    height: 200px;
    border-radius: 5%;
}

button {
    width: 100px;
    height: 50px;
    cursor: pointer;
}